<mat-toolbar>
  <h3>Create Contact</h3>
</mat-toolbar>

<div id="container" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone</mat-label>
    <input matInput placeholder="Phone" formControlName="phone" />
  </mat-form-field>

  <mat-form-field class="example-chip-list" appearance="outline">
    <mat-label>Groups</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let group of form.value.groups; let index = index"
        (removed)="remove(index)"
      >
        {{ group.title }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="New group..."
        #groupInput
        [formControl]="groupInputCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option *ngFor="let group of filteredGroups | async" [value]="group">
        {{ group.title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div style="display: flex; gap: 10px">
    <button
      (click)="submit()"
      [disabled]="!form.valid"
      mat-raised-button
      color="primary"
    >
      {{ form.value.id ? "Update" : "Create" }}
    </button>
    <button mat-raised-button matDialogClose="">Cancel</button>
  </div>
</div>
