#container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;

  app-header {
    min-height: 64px;
  }

  mat-drawer-container {
    flex-grow: 1;

    mat-drawer {
      width: 280px;
    }
  }

  #contentContainer {
    padding: 20px;
  }

  #composeButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
  }
}
